GOOSE_DBSTRING="host=localhost user=postgres password=postgres dbname=italy-trip sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./internal/postgres/migrations
PORT=8080
JWT_SECRET=dev-secret-change-me
JWT_TTL_HOURS=24
